# List 
## Exercise 1

1. Declare an empty list

2. Declare a list with more than 5 items

3. Find the length of your list

4. Get the first item, the middle item and the last item of the list

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

7. Print the list using print()

8. Print the number of companies in the list

9. Print the first, middle and last company

10. Print the list after modifying one of the companies

11. Add an IT company to it_companies

12. Insert an IT company in the middle of the companies list

13. Change one of the it_companies names to uppercase (IBM excluded!)

14. Join the it_companies with a string '#;  '

15. Check if a certain company exists in the it_companies list.

16. Sort the list using sort() method

17. Reverse the list in descending order using reverse() method

18. Slice out the first 3 companies from the list

19. Slice out the last 3 companies from the list

20. Slice out the middle IT company or companies from the list

21. Remove the first IT company from the list

22. Remove the middle IT company or companies from the list

23. Remove the last IT company from the list

24. Remove all IT companies from the list

25. Destroy the IT companies list

26. Join the following lists:

- front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
- back_end = ['Node','Express', 'MongoDB']
27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python  and SQL after Redux.

In [2]:
empty_list  = list()  #empty list
empty_list  = []    #empty list

In [ ]:
items_5 = ['name', 'age', 'time', 'state', 'country']

In [4]:
print(len(items_5)) #length of list

5

In [ ]:
print(items_5[0]) #first item
print(items_5[2])  #middle item
print(items_5[-1])  #last item

name
time
country

In [7]:
mixed_data_type = ['Amina', 23, 56,0,  'married', "Kaduna State"]

In [6]:
It_company = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

In [8]:
print(It_company)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [9]:
print(len(It_company))

7

In [12]:
print(It_company[0]) #first item
print(It_company[len(It_company)//2])  #middle item
print(It_company[-1])  #last item

Facebook
Apple
Amazon

In [14]:
It_company[1] = "Touch_IT"
print(It_company)

['Facebook', 'Touch_IT', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [15]:
It_company.append("3LOGY_Limited")
print(It_company)

['Facebook', 'Touch_IT', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', '3LOGY_Limited']

In [17]:
It_company.insert(2, 'Dialogue')
print(It_company)

['Facebook', 'Touch_IT', 'Dialogue', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', '3LOGY_Limited']

In [21]:
# Change one of the it_companies names to uppercase (IBM excluded!)

It_company[3].upper()

'MICROSOFT'

In [24]:
# 14. Join the it_companies with a string '#;  '
It_company.extend("#")

In [ ]:
# 15. Check if a certain company exists in the it_companies list.
It_company.index("Microsoft") #returns the index of the item in the list

3

In [29]:
# 16. Sort the list using sort() method
It_company.sort()
print(It_company)

['#', '3LOGY_Limited', 'Amazon', 'Apple', 'Dialogue', 'Facebook', 'IBM', 'Microsoft', 'Oracle', 'Touch_IT']

In [34]:
# 17. Reverse the list in descending order using reverse() method
It_company.reverse()
print(It_company)

['Touch_IT', 'Oracle', 'Microsoft', 'IBM', 'Facebook', 'Dialogue', 'Apple', 'Amazon', '3LOGY_Limited', '#']

In [37]:
# 18. Slice out the first 3 companies from the list
print(It_company[0:3])

['Touch_IT', 'Oracle', 'Microsoft']

In [ ]:
# 19. Slice out the last 3 companies from the list

print(It_company[-3::])

['Amazon', '3LOGY_Limited', '#']

In [46]:
# 20. Slice out the middle IT company or companies from the list
print(It_company[3:6])

['IBM', 'Facebook', 'Dialogue']

In [56]:
# 21. Remove the first IT company from the list
del It_company[0]
print(It_company)

['IBM']

In [58]:
# 22. Remove the middle IT company or companies from the list
del It_company[2:5]
print(It_company)

['IBM']

In [59]:
# 25. Destroy the IT companies list
del It_company

In [82]:
# Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
join_list = front_end + back_end
join_list

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [83]:
# 27. After joining the lists in question 26. Copy the joined list and
# assign it to a variable full_stack, then insert Python  and SQL after Redux.

full_stack = join_list.copy()

In [81]:
p = ["python", "sql"]
front_end.extend(p)
print(front_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'python', 'sql', 'python', 'sql']

## Exercise 2
The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

1. Sort the list and find the min and max age
2. Add the min age and the max age again to the list
3. Find the median age (one middle item or two middle items divided by two)
4. Find the average age (sum of all items divided by their number )
5. Find the range of the ages (max minus min)
6. Compare the value of (min - average) and (max - average), use abs() method
7. Find the middle country(ies) in the countries list
8. Divide the countries list into two equal lists if it is even if not one more country for the first half.
['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [7]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# 1. Sort the list and find the min and max age
ages.sort()  
min_age = min(ages)
max_age = max(ages)
print(f"list of ages: {ages},\nmin_ages: {min_age},\nmax_ages: {max_age}" )

list of ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26],
min_ages: 19,
max_ages: 26

In [ ]:
ages.append(min_age)

In [11]:
ages.append(max_age)
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26, 26]

In [ ]:
ages.extend([min_age, max_age])  #adding more than two items to list
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26, 26, 19, 26]

In [19]:
# 3. Find the median age (one middle item or two middle items divided by two)
ages.sort()
# n = len(ages)
if len(ages) % 2 != 0:
    median =ages[n//2]
else:
    median = ages[(len(ages)//2 -1)] + ages[(len(ages)//2)]/2
print(median)

24

In [24]:
# 4. Find the average age (sum of all items divided by their number )
average_age = sum(ages)/len(ages)
print(f"Average ages: {average_age}")

Average ages: 22.933333333333334

In [26]:
# 5. Find the range of the ages (max minus min)
range_ages = max_age - min_age #min minus max ages
range_ages

7

In [30]:
# 6. Compare the value of (min - average) and (max - average), use abs() method
min_average = abs(min_age - average_age)
max_average = abs(max_age - average_age)

if min_average > max_average:
    print(f"minimum average: {min_average} age is greater than maximum average age: {max_average}")
else:
    print(f"maximum average age: {max_average} age is greater than minimum average: {min_average}")

minimum average: 3.9333333333333336 age is greater than maximum average age: 3.0666666666666664

In [31]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

In [ ]:
# Find the middle country(ies) in the countries list
# 8. Divide the countries list into two equal lists if it is even if not one more country for the first half.
# ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark'].
# Unpack the first three countries and the rest as scandic countries.

In [33]:
middle_country = countries[len(countries)//2]
middle_country

'Lesotho'

In [39]:
l = len(countries)
if l % 2 == 0:
    countries_1 = countries[0:l//2]
    countries_2 = countries[l//2: -1]
elif l % 2 != 0:
    countries_1 = countries[0:l//2 + 1]
    countries_2 = countries[l//2: -1]
else:
    print("empty list")

print(f"countries one: {countries_1}\ncountries two: {countries_2}")

countries one: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
countries two: ['Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia']

In [40]:
len(countries_1)

97

In [41]:
len(countries_2)

96

In [42]:
len(countries)

193

In [43]:
cou = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
# Unpack the first three countries and the rest as scandic countries.
first, second, third, *scandic_countries = cou
print(f"first:{first}\nseconD: {second}\nthird {third}\nscandic countries: {scandic_countries}")

first:China
seconD: Russia
third USA
scandic countries: ['Finland', 'Sweden', 'Norway', 'Denmark']

## Tuple Exercises: Level 1
1. Create an empty tuple
2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
3. Join brothers and sisters tuples and assign it to siblings
4. How many siblings do you have?
5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [44]:
# 1. Create an empty tuple
empty_tuple = ()

In [46]:
# 2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
sisters = ('Sakina', 'Samina', 'Faiza', 'Fatima', 'Hadiza')
brothers = ('Bello', 'Mubarak', 'Mujahid', 'maaruf', 'Samina', 'Faruk')

In [49]:
# 3. Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers
siblings

('Sakina',
 'Samina',
 'Faiza',
 'Fatima',
 'Hadiza',
 'Bello',
 'Mubarak',
 'Mujahid',
 'maaruf',
 'Samina',
 'Faruk')

In [51]:
print(f"I have {len(siblings)} siblings")

I have 11 siblings

In [ ]:
# 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members
family_members = siblings + ('mummy', 'daddy')

## Tuple Exercises: Level 2
1. Unpack siblings and parents from family_members
2. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.
3. Change the about food_stuff_tp tuple to a food_stuff_lt list
4. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
5. Slice out the first three items and the last three items from food_staff_lt list
6. Delete the food_staff_tp tuple completely
7. Check if an item exists in tuple:
8. Check if 'Estonia' is a nordic country

9. Check if 'Iceland' is a nordic country

nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

In [95]:
# 1. Unpack siblings and parents from family_members
*siblings, Mother, Father = family_members
print(Mother)
print(Father)
print(siblings)
print(family_members)

mummy
daddy
['Sakina', 'Samina', 'Faiza', 'Fatima', 'Hadiza', 'Bello', 'Mubarak', 'Mujahid', 'maaruf', 'Samina', 'Faruk']
('Sakina', 'Samina', 'Faiza', 'Fatima', 'Hadiza', 'Bello', 'Mubarak', 'Mujahid', 'maaruf', 'Samina', 'Faruk', 'mummy', 'daddy')

In [ ]:
# 2. Create fruits, vegetables and animal products tuples. 
# Join the three tuples and assign it to a variable called food_stuff_tp.

fruits = ('mango', 'orange', 'wataermelon', 'grapes', 'banana')
vegetables = ('celery', 'cucumber', 'cabbage', 'sring-onion')
animal_product = ('egg', 'meat', 'cheese')

food_stuff_tp = fruits + vegetables + animal_product
food_stuff_tp #tuple

('mango',
 'orange',
 'wataermelon',
 'grapes',
 'banana',
 'celery',
 'cucumber',
 'cabbage',
 'sring-onion',
 'egg',
 'meat',
 'cheese')

In [ ]:
# 3. Change the about food_stuff_tp tuple to a food_stuff_lt list
food_stuff_lt = list(food_stuff_tp)
food_stuff_lt  #list

['mango',
 'orange',
 'wataermelon',
 'grapes',
 'banana',
 'celery',
 'cucumber',
 'cabbage',
 'sring-onion',
 'egg',
 'meat',
 'cheese']

In [63]:
# 4. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
len(food_stuff_tp)/2  #finding the index of the middle items

print(food_stuff_tp[5:7])  #slicing the middle item

('celery', 'cucumber')

In [72]:
# 5. Slice out the first three items and the last three items from food_staff_lt list
first_3_items = food_stuff_lt[0:3]
print(first_3_items)

last_3_items = food_stuff_lt[-3::]
print(last_3_items)

['mango', 'orange', 'wataermelon']
['egg', 'meat', 'cheese']

In [73]:
# 6. Delete the food_staff_tp tuple completely
del food_stuff_tp

In [91]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

In [93]:
# Check if an item exists in tuple:
# 8. Check if 'Estonia' is a nordic country
if 'Estonia' in nordic_countries:
    print('Estonia is a nordic country')
else:
    print('Estonia is not a nordic county')


# 9. Check if 'Iceland' is a nordic country

if 'Iceland' in nordic_countries:
    print('Iceland is a nordic country')
else:
    print('Iceland is not a nordic county')

Estonia is not a nordic county
Iceland is a nordic country