## Sets Exercises: Level 1
1. Find the length of the set it_companies
2. Add 'Twitter' to it_companies
3. Insert multiple IT companies at once to the set it_companies
4. Remove one of the companies from the set it_companies
5. What is the difference between remove and discard

In [1]:
It_company_set = {"Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"}

In [2]:
# 1. Find the length of the set it_companies
print(len(It_company_set))

7

In [4]:
# 2. Add 'Twitter' to it_companies
It_company_set.add('twitter')
It_company_set

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'twitter'}

In [18]:
# 3. Insert multiple IT companies at once to the set it_companies
It_company_set.add('twitter')
It_company_set.update(['Facebook', 'Microsoft'])
It_company_set.update(['bacebook', 'Microsoft'])

It_company_set

{'Amazon',
 'Apple',
 'F',
 'Facebook',
 'Google',
 'IBM',
 'M',
 'Microsoft',
 'Oracle',
 'a',
 'b',
 'bacebook',
 'c',
 'e',
 'f',
 'i',
 'k',
 'o',
 'r',
 's',
 't',
 'twitter'}

In [10]:
# 4. Remove one of the companies from the set it_companies
It_company_set.discard('twitter')
It_company_set

{'Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle'}

In [ ]:
# 5. What is the difference between remove and discard
# It_company_set.remove('twitter')     raise an exception since twitter is not in the set
It_company_set.discard('twitter')      #doesnt raise an exception even if the element is not in the set

In [21]:
It_company_set.pop()
It_company_set

{'Apple',
 'F',
 'Facebook',
 'Google',
 'IBM',
 'M',
 'Microsoft',
 'Oracle',
 'a',
 'b',
 'bacebook',
 'c',
 'e',
 'f',
 'k',
 'r',
 's',
 't',
 'twitter'}

In [47]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

## Sets Exercises: Level 2
Join A and B
Find A intersection B
Is A subset of B
Are A and B disjoint sets
Join A with B and B with A
What is the symmetric difference between A and B
Delete the sets completely

In [34]:
# Join A and B
print(A.union(B))

{19, 20, 22, 24, 25, 26, 27, 28}

In [35]:
# Find A intersection B
print(A.intersection(B))

{19, 20, 22, 24, 25, 26, 27, 28}

In [36]:
print(A.issubset(B))

True

In [50]:
# Are A and B disjoint sets
A.isdisjoint(B)  #NO

False

In [41]:
# Join A with B and B with A
print(A.union(B))
print(B.union(A))

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [51]:
# What is the symmetric difference between A and B
print(B.symmetric_difference(A))

{27, 28}

In [56]:
del B

## Sets Exercises: Level 3
1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
2. Explain the difference between the following data types: string, list, tuple and set
3. I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the   split methods and set to get the unique words.

In [23]:
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [57]:
# 1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
age_set = set(age)
print(len(age))
print(len(age_set))

8
5

In [ ]:
# 2. Explain the difference between the following data types: string, list, tuple and set

In [61]:
# 3. I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence Use the 
# split methods and set to get the unique words.

sentence = "I am a teacher and I love to inspire and teach people"

words = sentence.split()
unique_words = set(words)

unique_words

{'I', 'a', 'am', 'and', 'inspire', 'love', 'people', 'teach', 'teacher', 'to'}