In [1]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 3:
        continue
    print('Next number should be ', number + 1) if number != 5 else print("loop's end") # for short hand conditions need both if and else statements
print('outside the loop')

0
Next number should be  1
1
Next number should be  2
2
Next number should be  3
3
4
Next number should be  5
5
loop's end
outside the loop

## Exercises: Level 1
1. Iterate 0 to 10 using for loop, do the same using while loop.

2. Iterate 10 to 0 using for loop, do the same using while loop.

3. Write a loop that makes seven calls to print(), so we get on the output the following triangle:

  #
  ##
  ###
  ####
  #####
  ######
  #######

4. Use nested loops to create the following:

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
5. Print the following pattern:

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100
6. Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

7. Use for loop to iterate from 0 to 100 and print only even numbers

8. Use for loop to iterate from 0 to 100 and print only odd numbers

In [9]:
# 1. Iterate 0 to 10 using for loop, do the same using while loop.
# while loop

count = 0
while count <= 10:
    print(count)
    count = count + 1

0
1
2
3
4
5
6
7
8
9
10

In [10]:
# for loop

for number in range(11):
    print(number)

0
1
2
3
4
5
6
7
8
9
10

In [14]:
# 2. Iterate 10 to 0 using for loop, do the same using while loop.

# for loop

for x in range(10, -1, -1):
    print(x)

10
9
8
7
6
5
4
3
2
1
0

In [17]:
# while loop
count = 10
while count > 0:
    print(count)
    count -= 1

10
9
8
7
6
5
4
3
2
1

In [25]:
# 3. Write a loop that makes seven calls to print(), so we get on the output the following triangle:

for i in range(8):
    print("#" * i)

#
##
###
####
#####
######
#######

In [24]:
# while loop

a = 0
while a < 8:
    print("#" * a)
    a = a+1

#
##
###
####
#####
######
#######

In [27]:
# 4. Use nested loops to create the following:
for numb in range(11):
    print(f"{numb} * {numb} = {numb * numb}")

0 * 0 = 0
1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81
10 * 10 = 100

In [28]:
# 6. Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.
lst = ['Python', 'Numpy','Pandas','Django', 'Flask']

for item in lst:
    print(item)

Python
Numpy
Pandas
Django
Flask

In [31]:
# 7. Use for loop to iterate from 0 to 100 and print only even numbers
for numbers in range(100):
    if numbers % 2 == 0:
        print(numbers)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [32]:
# 8. Use for loop to iterate from 0 to 100 and print only odd numbers

for numbers in range(100):
    if numbers % 2 != 0:
        print(numbers)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

## Exercises: Level 2
1. Use for loop to iterate from 0 to 100 and print the sum of all numbers.

In [37]:
sum = 0
for num in range(101):
    sum += num
print(f"The sum of numbers from 0-100 is: {sum}")

The sum of numbers from 0-100 is: 5050

2. Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.

In [38]:
sumeven = 0
sumodd = 0
for integer in range(101):
    if integer % 2 == 0:
        sumeven += integer
    else:
        sumodd += integer
print(F"sum of even numbers is: {sumeven}, sum of odd numbers is: {sumodd}")

sum of even numbers is: 2550, sum of odd numbers is: 2500

## Exercises: Level 3
1. Go to the data folder and use the countries.py file. Loop through the countries and extract all the countries containing the word land.
2. This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.
3. Go to the data folder and use the countries_data.py file.
- What are the total number of languages in the data
- Find the ten most spoken languages from the data
- Find the 10 most populated countries in the world

In [39]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

In [42]:
# 1. Go to the data folder and use the countries.py file. 
# Loop through the countries and extract all the countries containing the word land.

for country in countries:
    if 'land' in country.lower():
        print(country)

Finland
Iceland
Ireland
Marshall Islands
Netherlands
New Zealand
Poland
Solomon Islands
Swaziland
Switzerland
Thailand

In [58]:
# 2. This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.
fruits = ['banana', 'orange', 'mango', 'lemon']
reversed_fruit = []

for i in range(len(fruits)-1, -1, -1): #rversed the list
    reversed_fruit.append(fruits[i])
print(reversed_fruit)

['lemon', 'mango', 'orange', 'banana']

In [1]:
# 3. Go to the data folder and use the countries_data.py file.
# - What are the total number of languages in the data
# - Find the ten most spoken languages from the data
# - Find the 10 most populated countries in the world

In [23]:
# - What are the total number of languages in the data

from countries_data import countries

total_language = set()   #used an empty set to add only unique languages
for country in countries:    #iterate through countries List
    for language in country['languages']:      #iterate through languages in countries list
        total_language.add(language)         #add language to the set

print(f"Total unique languages is: {len(total_language)}")    #prints the number of languages

Total unique languages is: 112

In [45]:
# - Find the ten most spoken languages from the data
language_count = {}
for country in countries:
    for language in country['languages']:
        #if language is in dictionery increase the count by 1
        if language in language_count:
            language_count[language] += 1
        #if language is not in dictionery update the count by 1
        else:
            language_count[language] = 1

#sorts the list, #makes the dictionery a tuple with.item(),  key= lamda x checks for the second item in the tuple
# which is the count, reversed the items from largest to smallest
sorted_language = sorted(language_count.items(), key = lambda x: x[1] , reverse=True)  

#prints the first 10 languages in the sorted language tuple
top_10_languages = sorted_language[:10]

print(F"The 10 most common languages are: {top_10_languages}")

The 10 most common languages are: [('English', 91), ('French', 45), ('Arabic', 25), ('Spanish', 24), ('Portuguese', 9), ('Russian', 9), ('Dutch', 8), ('German', 7), ('Chinese', 5), ('Serbian', 4)]

In [53]:
# - Find the 10 most populated countries in the world

#first sort the countries according to population
sorted_countries = sorted(countries, key = lambda x: x['population'], reverse=True)

for i in range(10):
    country = sorted_countries[i]
    print(f" {country['name']}: {country['population']}")

 China: 1377422166
 India: 1295210000
 United States of America: 323947000
 Indonesia: 258705000
 Brazil: 206135893
 Pakistan: 194125062
 Nigeria: 186988000
 Bangladesh: 161006790
 Russian Federation: 146599183
 Japan: 126960000