1. Filter only negative and zero in the list using list comprehension

- numbers = [-4, -3, -2, -1, 0, 2, 4, 6]

In [3]:
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]

negative_and_zero = [i for i in numbers if i <= 0]
negative_and_zero

[-4, -3, -2, -1, 0]

2. Flatten the following list of lists of lists to a one dimensional list :

- list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

output
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]
flatened_list = [number for row in list_of_lists for number in row]
print(flatened_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
flattened_list = [number for sublist in list_of_lists for row in sublist for number in row]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
"""Using list comprehension create the following list of tuples:

[(0, 1, 0, 0, 0, 0, 0),
(1, 1, 1, 1, 1, 1, 1),
(2, 1, 2, 4, 8, 16, 32),
(3, 1, 3, 9, 27, 81, 243),
(4, 1, 4, 16, 64, 256, 1024),
(5, 1, 5, 25, 125, 625, 3125),
(6, 1, 6, 36, 216, 1296, 7776),
(7, 1, 7, 49, 343, 2401, 16807),
(8, 1, 8, 64, 512, 4096, 32768),
(9, 1, 9, 81, 729, 6561, 59049),
(10, 1, 10, 100, 1000, 10000, 100000)]"""
n = 11
list_of_tuple = [(i, i**0, i**1, i**2, i**3, i**4, i**5) for i in range(n)]
print(list_of_tuple)

[(0, 1, 0, 0, 0, 0, 0), (1, 1, 1, 1, 1, 1, 1), (2, 1, 2, 4, 8, 16, 32), (3, 1, 3, 9, 27, 81, 243), (4, 1, 4, 16, 64, 256, 1024), (5, 1, 5, 25, 125, 625, 3125), (6, 1, 6, 36, 216, 1296, 7776), (7, 1, 7, 49, 343, 2401, 16807), (8, 1, 8, 64, 512, 4096, 32768), (9, 1, 9, 81, 729, 6561, 59049), (10, 1, 10, 100, 1000, 10000, 100000)]

4. Flatten the following list to a new list:
   countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
output:
[['FINLAND','FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]

In [18]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]

flattened_countries2 = [[country[0].upper(), country[0][:3], country[1].upper()]  for sublist in countries for country in sublist ]
print(flattened_countries2)

[['FINLAND', 'Fin', 'HELSINKI'], ['SWEDEN', 'Swe', 'STOCKHOLM'], ['NORWAY', 'Nor', 'OSLO']]

5. Change the following list of lists to a list of concatenated strings:

names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
output
['Asabeneh Yetaeyeh', 'David Smith', 'Donald Trump', 'Bill Gates']

In [19]:
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')],
          [('Donald', 'Trump')], [('Bill', 'Gates')]]

concatenated_string = [f"{name[0]} {name[1]}" for sublist in names for name in sublist]
print(concatenated_string)

['Asabeneh Yetayeh', 'David Smith', 'Donald Trump', 'Bill Gates']

6. Write a lambda function which can solve a slope or y-intercept of linear functions.

In [20]:
# Lambda function to calculate the slope (m) given two points (x1, y1) and (x2, y2)
slope = lambda x1, y1, x2, y2: (y2 - y1) / (x2 - x1)

# Lambda function to calculate the y-intercept (b) given the slope (m) and one point (x, y)
y_intercept = lambda m, x, y: y - m * x

# Example usage:
x1, y1 = 1, 2
x2, y2 = 3, 4

m = slope(x1, y1, x2, y2)
b = y_intercept(m, x1, y1)

print(f"Slope: {m}")
print(f"Y-Intercept: {b}")

Slope: 1.0
Y-Intercept: 1.0

7. Change the following list to a list of dictionaries:

countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
output:
[{'country': 'FINLAND', 'city': 'HELSINKI'},
{'country': 'SWEDEN', 'city': 'STOCKHOLM'},
{'country': 'NORWAY', 'city': 'OSLO'}]

In [22]:
list_dictioneries = [{'country': country[0].upper(), 'city': country[1].upper()} for sublist in countries for country in sublist]
print(list_dictioneries)

[{'country': 'FINLAND', 'city': 'HELSINKI'}, {'country': 'SWEDEN', 'city': 'STOCKHOLM'}, {'country': 'NORWAY', 'city': 'OSLO'}]